<%= render partial: "shared/nav" %>

<h3>Active Coupons:</h3>
<div id="active">
  <% @active_coupons.each do |coupon| %>
    <div id="coupon-<%= coupon.id %>">
      <%= link_to coupon.name, merchant_coupon_path(@merchant, coupon) %>
      Amount Off: <%= coupon.amount_off %> <%= coupon.coupon_type %></p>
    </div>
  <% end %>
</div>

<h3>Inactive Coupons:</h3>
<div id="inactive">
  <% @inactive_coupons.each do |coupon| %>
    <div id="coupon-<%= coupon.id %>">
      <%= link_to coupon.name, merchant_coupon_path(@merchant, coupon) %>
      Amount Off: <%= coupon.amount_off %> <%= coupon.coupon_type %></p>
    </div>
  <% end %>
</div>

<%= link_to "Create a Coupon", new_merchant_coupon_path(@merchant) %>
