<%= render partial: "shared/nav" %>

<h3>All Coupons:</h3>
<% @coupons.each do |coupon| %>
  <div id="coupon-<%= coupon.id %>">
  <%= link_to coupon.name, merchant_coupon_path(@merchant, coupon) %>
      Amount Off: <%= coupon.amount_off %> <%= coupon.coupon_type %></p>
  </div>
<% end %>