<%= render partial: "shared/nav" %>

<body>
  <div class="row">
    <p class='col-12'><%= @coupon.name %></p>
  </div>


  <p>Code: <%= @coupon.code%></p><br/></p>

  <p>Amount Off: <%= @coupon.amount_off %></p>
  <p>Coupon Type: <%= @coupon.coupon_type %></p>
  <p>Status: <%= @coupon.status %></p>
  <p>Usage Count: <%= @coupon.usage_count %></p>
</body>